# systemd unit for BTC RPC Explorer
# sudo nano /etc/systemd/system/rpcexp.service

[Unit]
Description=btc-rpc-explorer
Wants=bitcoind.service
After=bitcoind.service

[Service]
ExecStart=/usr/local/lib/nodejs/node-v10.16.0-linux-armv7l/bin/btc-rpc-explorer
User=bitcoin
Restart=always
TimeoutSec=120
RestartSec=30
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target